body{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

header{
    /* border:1px solid black; */
    height: 70px;
    width: 100%;
    position: fixed;
    background: white;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.nav-bar .first-container{
    
    height: 70%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.nav-bar .first-container img{
    height: 35px;
}

.nav-bar .second-container{
    display: flex;
    height: 90%;
    align-items: center;
    width: 20%;
    justify-content: center;
    gap: 5px;
}
.nav-bar .second-container div{
    font-size: 30px;
}
.nav-bar .second-container p{
    font-size: 30px;
}
.nav-bar .second-container #item_number{
    font-size: x-large;
    font-weight: 500;
    color: rgb(28, 116, 116);
}
.nav-bar .third-container i{
    font-size: x-large;
    color: gray;
}

main{
    height: 100vh;
    width: 100%;
    padding-top: 70px;
}
main .head{
    margin-left: 180px;
    font-size: 20px;
    margin-top: 80px;
}
section{
    display: flex;
    height: 100%;
    justify-content: space-around;
    gap: 15px;
    margin-top: 50px ;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 50px;
}
section .card-container{
    width: 70%;
    margin-left: 30px; 
    margin-top: -30px; 
    margin-bottom: 50px; 
}

section .card-container .card{
    border: 1px solid rgb(176, 176, 176);
    height: 274px;
    margin-bottom: 18px;
    border-radius: 5px;
    padding: 18px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card .date{
    font-weight: bold;
    font-size: large;
    color: green;
}

.item-detail{
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    column-gap: 30px;
}

.item-detail .image{
    height: 150px;
}
.item-detail .image img{
    /* overflow-clip-margin: content-box;
    overflow: clip; */
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.item-detail .detail{
    display: flex;
    flex-direction: column;
}
.item-detail .detail .name{
    height: 40px;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 10px;
}
.item-detail .detail .price{
    color: rgb(168, 3, 3);
    font-size: medium;
    font-weight: 600;
}
.item-detail .detail .quantity-item{
    display: flex;
    margin-top: 0px;
    gap: 10px;
}
.item-detail .detail .quantity-item .ud{
    color: rgb(93, 93, 198);
    cursor: pointer;
    transition: all 0.2s ease;
}
.item-detail .detail .quantity-item .ud:hover{
    color:rgb(255, 94, 0);
}

.item-detail .option{
    display: flex;
    flex-direction: column;
}
.item-detail .option .head1{
    font-size: large;
    font-weight: 700;
    margin-bottom: 10px;
}

.item-detail .option .option-1,.option-2,.option-3{
    display: flex;
    margin-top: -15px;
    gap: 4px;
}
div .p1{
    margin-bottom: -11px;
    font-size: large;
    color: green;
    font-weight: 600;
}

section .calculation-container{
    height: 40%;
    border: 1px solid rgb(176, 176, 176);
    width: 30%;
    margin-top: -30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px;
}
.calculation-container .title{
    font-size: large;
    font-weight: 600;
    color: black;
}
.calculation-container div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(47, 47, 47);
}
.calculation-container .shipping #shipping_calculation{
    border-bottom: 1px solid rgba(143, 142, 142, 0.473);
    padding-bottom: 10px;
    padding-left: 10px;
}
.calculation-container .tax{
    border-bottom: 1px solid rgba(143, 142, 142, 0.473);
    padding-bottom: 10px;
}
.calculation-container .final_total{
    font-size: large;
    font-weight: 600;
    padding-top: 10px;
}
.calculation-container .final_total div{
    color: rgb(158, 1, 1);
}
.calculation-container .btn{
    padding: 15px 0px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size:small;
    background-color: rgb(255, 230, 0);
    cursor: pointer;
    transition: all 0.2s ease;
}
.calculation-container .btn:hover{
    background: rgb(228, 207, 14);
}



